<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEBAPP_PVMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.project.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.project.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBaseController</display-name>
    <servlet-name>UserBaseController</servlet-name>
    <servlet-class>com.project.controller.UserBaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBaseController</servlet-name>
    <url-pattern>/UserBaseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassportController</display-name>
    <servlet-name>PassportController</servlet-name>
    <servlet-class>com.project.controller.PassportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassportController</servlet-name>
    <url-pattern>/apply</url-pattern>
    <url-pattern>/reissue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisaController</display-name>
    <servlet-name>VisaController</servlet-name>
    <servlet-class>com.project.controller.VisaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisaController</servlet-name>
    <url-pattern>/validation</url-pattern>
    <url-pattern>/applyVisa</url-pattern>
    <url-pattern>/cancelVisa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.project.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.project.controller.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
</web-app>